/* font--family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
}
/* top--section */
.top-section{
    height: 670px;
    background-color: teal;
}
/* navigation--style */
nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
}
nav ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style-type: none;
}
nav li{
    margin-right: 10px;
}
nav li a{
    text-decoration: none;
    color: white;
}
.nav-bar button{
    text-decoration: none;
    background-color: orangered;
    padding: 10px 20px 10px 20px;
    margin-left: 40em;
    margin-top: 20px;
}
button i{
    color: white;
}
/* top--banner */
.top-banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
    padding-top: 20px;
}
.top-banner h1{
    margin-left: 1em;
    padding-left: 1em;
    font-size: 46px;
    color: white;
}
.top-banner img{
    width: 70%;
}
.top-banner button{
    margin-left: 7em;
    padding: 1em;
    color: white;
    background-color: orangered;

}
.top-banner a{
    text-decoration: none;
}
/* middle-section */
.mid-section{
    display: grid;
    grid-template-columns: repeat(3, 25%);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    justify-content: center;
}
.players{
    background-color: white;
    padding: 15px;
    box-shadow: 10px 10px 8px #d6d6d6c2;
}
.players img{
    width: 100%;
}
.players-details{
    font-family: sans-serif;    
    font-weight: 300;
    color: gray;
}
/* bottom--section */
.bottom-section{
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-column-gap: 3em;
    justify-content: center;
    margin-top: 10%;
}
.bottom-section h1{
    margin-top: 20%;
}
.bottom-section img{
    width: 100%;
}
.bottom-section button{
    background-color: orangered;
    color: white;
    padding: 10px;
    margin: 10px;
}
/* footer--section */
footer{
    margin-top: 10%;
}
footer img{
    margin-left: 25%;
    width: 40%;
}
footer p{
    width: 50%;
    padding-left: 40%;
}
footer i{
    margin: 1%;
    background-color: grey;
    border-radius: 50%;
    padding: 1%;
}
footer h4{
    padding-left: 40%;

}